<div class="post-container" *ngIf="post">
  <h1 class="page-title">Details du poste</h1>

  <div class="post-box">
    <div class="post-header">
      <h2 class="post-title">{{ post.title }}</h2>
    </div>
    <div class="post-body">{{ post.body }}</div>
  </div>
<div class="header-actions">
  <span (click)="goToUser(post.authorId!)" class="post-author-name-back">
    ⟵ Retourner sur {{ post.authorName }}
  </span>

  <button class="button-37" (click)="goToPosts()">
    Voir tous les postes
  </button>
</div>


</div>

<div class="comments-section">
  <h3 class="section-title">Commentaires</h3>

  <div *ngIf="comments.length > 0; else noComments">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-header">
        <span class="comment-author">{{ comment.authorName }}</span>
      </div>
      <div class="comment-body">{{ comment.body }}</div>
    </div>
  </div>

  <ng-template #noComments>
    <p class="no-comments">Aucun commentaire disponible.</p>
  </ng-template>
</div>
